@use './colors';
@use './typography' as t;

@mixin flexbox($justify: center, $align: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

@mixin absolute-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin title-text($color: colors.$text, $font-size: 2rem) {
    font-family: t.$font-display;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.8em;
    color: $color;
    margin: 0;
}

@mixin card-image($width: 100%, $height: auto, $radius: 10px, $object-fit: cover) {
    width: $width;
    height: $height;
    border-radius: $radius;
    object-fit: $object-fit;

}


@mixin button($bg-color: transparent,
    $text-color: colors.$background,
    $border-color: colors.$background,
    $hover-bg: colors.$background,
    $hover-text: colors.$secondary,
    $width: 180px,
    $padding: 10px 20px,
    $font-size: 1.2em) {
    background-color: $bg-color;
    color: $text-color;
    border: 3px solid $border-color;
    width: $width;
    padding: $padding;
    font-size: $font-size;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    &:hover {
        background-color: $hover-bg;
        color: $hover-text;
    }
}