@use "../partials/colors";
@use "../partials/typography" as t;
@use "../partials/mixins" as m;
@use "../partials/media-queries" as q;

.header {
    @include m.flexbox(space-between, center);
    background-color: colors.$background;
    padding: 10px;

    &__icon {
        margin-left: 120px;
        color: colors.$primary;
        transform: rotateY(180deg);
    }
}

.navbar {
    @include m.flexbox(space-between, center);
    display: flex;
    padding: 20px;

    &__links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: colors.$background;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 2;
        list-style: none;

        li {
            text-align: center;
            padding: 15px 0;

        }

        a {
            text-decoration: none;
            color: colors.$text;
            font-family: t.$font-main;
            font-size: 1.2em;
            font-weight: bold;

            &:hover {
                color: colors.$primary;
            }
        }

        &--open {
            display: flex;
        }
    }

    &__hamburger {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: colors.$primary;
    }

    &__menu-toggle {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }


    &__menu-toggle:checked+.navbar__hamburger+.navbar__links {
        @extend .navbar__links--open;
    }

    @include q.large-tablet {
        &__links {
            display: flex;
            flex-direction: row;
            position: static;
            justify-content: space-between;
            width: auto;
            gap: 5em;
            padding-right: 20px;

            li {
                padding: 0;
            }
        }

        &__hamburger,
        &__menu-toggle {
            display: none;
        }

    }

}









//     ul {
//         @include m.flexbox(space-between, center);
//         list-style: none;
//         text-decoration: none;
//         margin: 0 10px;
//         padding: 20px;
//         display: none;

//         li {
//             display: inline-block;
//             margin-left: 50px;


//             a {
//                 text-decoration: none;
//                 color: colors.$text;
//                 font-family: t.$font-main;
//                 font-size: 1em;
//                 font-weight: bold;

//                 &:hover {
//                     color: colors.$tertiary;
//                 }

//                 &--open {
//                     display: flex;
//                 }
//             }
//         }
//     }
// }